<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!-- API Embed Settings -->
    <add key="powerbi:AuthorityURI" value="https://login.microsoftonline.com/common/oauth2/authorize" />
    <!--<add key="powerbi:AuthorityURI" value="https://login.microsoftonline.com/common/oauth2/authorize" />-->
    <add key="powerbi:ResourceURI" value="https://analysis.windows.net/powerbi/api" />
    
    <!--<add key="powerbi:AppId" value="d57ac8af-1019-431d-8fed-5fd8db180388" />-->
    
    <add key="powerbi:AppId" value="6cf5a7bb-ebd5-48a7-90b3-0fedeec13e99" />
    <add key="powerbi:AppSecret" value="https://login.live.com/oauth20_desktop.srf" />
    <add key="powerbi:RedirectUri" value="https://login.live.com/oauth20_desktop.srf" />
    
  </appSettings>
</configuration>